<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <sectionGroup name="system.web">
      <section name="sanitizer" requirePermission="false" type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection, AjaxControlToolkit" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="ConnectionString" value="Server=localhost\sqlexpress;Database=daviscounty_v2_prod1;User=daviscounty;Password=Hamlin4usv" />
    <add key="Solution_StartDate" value="11/1/2014"/>
    <add key="Site_AutomationKey" value="aj1312opwebwYNHaldf9808kajMNH90adfa92w0234"/>
    <add key="Site_LoginTimeOutMinutes" value="1440" />
    <add key="Site_ExtendedLoginTimeOut" value="20160" />
    <add key="Site_ShortName" value="SASS" />
    <add key="Site_Title" value="Student Absentee Surveillance System" />
    <add key="Site_LogoUrl" value="/resources/logo.png" />
    <add key="Site_PublicStartPage" value="~/www/default.aspx" />
    <add key="Site_PdfOutput" value="~/reports/process/output/"/>
    <add key="Register_RegisterPage" value="/register.aspx" />
    <add key="Register_RegisterName" value="Join SASS" />
    <add key="Register_MinAge" value="18" />
    <add key="Register_MaxAge" value="120" />
    <add key="Register_AdultRoleID" value="19" />
    <add key="Register_InviteRequired" value="false" />
    <add key="Register_CodeAvailable" value="true" />
    <add key="Register_CodeMode" value="invitation" />
    <add key="Register_SMSAvailable" value="true" />
    <add key="Register_SupportedGenderValues" value="Male,Female,Transgender"/>
    <add key="Register_RaceAvailable" value="false" />
    <add key="Register_RaceRequired" value="false" />
    <add key="Register_DefaultRoleID" value="9"/>
    <add key="Register_ModeratorRoleID" value="17"/>
    <add key="Register_EmailRoleID" value="26"/>
    <add key="Register_LoginExtraNav" value="false" />
    <add key="Email_SendNotificationEmail" value="false" />
    <add key="Email_NotificationEmailID" value="50" />
    <add key="Email_ForgotPasswordID" value="3"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=localhost\sqlexpress;Database=daviscounty_v2_prod1;User=daviscounty;Password=Hamlin4usv" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="42949672" executionTimeout="3600" requestValidationMode="2.0" />
    <sanitizer defaultProvider="HtmlAgilityPackSanitizerProvider">
      <providers>
        <add name="HtmlAgilityPackSanitizerProvider" type="AjaxControlToolkit.Sanitizer.HtmlAgilityPackSanitizerProvider" />
      </providers>
    </sanitizer>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authorization>
      <allow users="*" />
    </authorization>
    <authentication mode="Forms">
      <forms name=".ASPXFORMSDEMO" loginUrl="logon.aspx" protection="All" path="/" timeout="3600" cookieless="UseCookies" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="Quartz" />
      </namespaces>
      <controls>
        <add tagPrefix="telerik" assembly="Telerik.Web.UI" namespace="Telerik.Web.UI"/>
        <add tagPrefix="epg" namespace="Quartz"/>
        <add tagPrefix="epg" assembly="epg_quartz_web" namespace="Quartz.Web.Controls"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
      <add path="Telerik.Web.UI.DialogHandler.axd" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" validate="false" />
      <add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" />
      <add verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
      <add verb="*" path="CombineScriptsHandler.axd" type="AjaxControlToolkit.CombineScriptsHandler, AjaxControlToolkit"/>
      <add verb="*" validate="false" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <add name="Quartz.Communication.qCom_EmailReadTracker" type="Quartz.Communication.qCom_EmailReadTracker" />
      <add name="Quartz.Health.qHtl_MeterUploadProcess" type="Quartz.Health.qHtl_MeterUploadProcess" />
    </httpModules>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <!--<add name="X-UA-Compatible" value="IE=9" />-->
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
    <modules>
      <add name="Quartz.Communication.qCom_EmailReadTracker" type="Quartz.Communication.qCom_EmailReadTracker" />
      <add name="Quartz.Health.qHtl_MeterUploadProcess" type="Quartz.Health.qHtl_MeterUploadProcess" />
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
      <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrl-Integrated-4.0" />
      <add name="Telerik.Web.UI.DialogHandler" path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI"/>
      <add name="Telerik_Web_UI_DialogHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.axd" type="Telerik.Web.UI.DialogHandler"/>
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" name="Telerik.Web.UI.WebResource" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.RadUploadProgressHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
      <add name="CombineScriptsHandler" preCondition="integratedMode" verb="*" path="CombineScriptsHandler.axd" type="AjaxControlToolkit.CombineScriptsHandler, AjaxControlToolkit"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <resizer>
    <!-- Unless you (a) use Integrated mode, or (b) map all reqeusts to ASP.NET, 
         you'll need to add .ashx to your image URLs: image.jpg.ashx?width=200&height=20 -->
    <pipeline fakeExtensions=".ashx" />
    <diskcache dir="imagecache" subfolders="32" enabled="true" autoClean="true" hashModifiedDate="false" />
    <plugins>
      <add name="DiskCache" />
      <add name="PrettyGifs" />
      <!-- <add name="DiskCache" /> -->
      <!-- <add name="PrettyGifs" /> -->
    </plugins>
  </resizer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="UserInfoAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="UserInfo">
        <endpoint address="" behaviorConfiguration="UserInfoAspNetAjaxBehavior" binding="webHttpBinding" contract="UserInfo" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <location path="AjaxFileUploadHandler.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>